anyio==3.6.2
git+https://github.com/shc261392/authlib@httpx-fixes#egg=Authlib
certifi==2022.12.7
cffi==1.15.1
cryptography==41.0.6
h11==0.14.0
httpcore==0.16.2
httpx==0.23.1
idna==3.4
pycparser==2.21
pydantic==1.10.2
rfc3986==1.5.0
sniffio==1.3.0
typing_extensions==4.4.0
